/**
 * Custom CSS Styles
 *
 * Copyright 2025 JustADevOnTheMove
 */

 :root {
    --color-base: #06360e;
    --color-edge: #364238;
    --color-grass: #06560e;
    --color-forest: #043f0a;
    --color-sand: #b19a13;
    --color-mountain: #4f2a00;
    --color-water: #006e95;

    --tile-width: 40px;
    --tile-height: 40px;
    --tile-margin-right: 11px;

    --row-margin-top: -23.5px;
    --row-offset: 28px;

    --button-width: 27px !important;
}

/* ********************************* */
/*                                   */
/*         TEMPLATE DEFAULTS         */
/*                                   */
/* ********************************* */

body {
    background-color: var(--color-base);
}

/* ********************************* */
/*                                   */
/*           CUSTOM STYLES           */
/*                                   */
/* ********************************* */

.testing2 {
    margin: 35px 20px;
}

.testing2 button {
    background-color: #0099ff55;
    transform: scaleY(0.6) rotate(-45deg);
    cursor:pointer;
    width: var(--tile-width);
    height: var(--tile-height);
    /* margin-left:20px; */
    margin-right: var(--tile-margin-right);
}
.testing2 button.edge-t {
    background-image: linear-gradient(45deg,var(--color-grass) 50%, var(--color-base) 50%);
}
.testing2 button.edge-tr {
    background-image: linear-gradient(45deg,var(--color-grass) 50%, var(--color-base) 50%);
}
.testing2 button.edge-r {
    background-image: linear-gradient(135deg,var(--color-grass) 50%, var(--color-base) 50%);
}
.testing2 button.edge-br {
    background-image: linear-gradient(-45deg,var(--color-base) 50%, var(--color-base) 50%);
}
.testing2 button.edge-b {
    background-image: linear-gradient(225deg,var(--color-grass) 50%, var(--color-base) 50%);
}
.testing2 button.edge-bl {
    background-image: linear-gradient(-135deg,var(--color-grass) 50%, var(--color-base) 50%);
}
.testing2 button.edge-l {
    background-image: linear-gradient(-45deg,var(--color-grass) 50%, var(--color-base) 50%);
}
.testing2 button.edge-tl {
    background-image: linear-gradient(45deg,var(--color-base) 50%, var(--color-base) 50%);
}
.testing2 button.grass {
    background-color: var(--color-grass);
}
.testing2 button.forest {
    background-color: var(--color-forest);
}
.testing2 button.sand {
    background-color: var(--color-sand);
}
.testing2 button.mountain {
    background-color: var(--color-mountain);
}
.testing2 button.water {
    background-color: var(--color-water);
}
.testing2 button:hover {
    background-color: #ff666666;
}


.testing2 .test:hover {
    background-color: #ff00ff55;
}
.testing2 .wrap {
    margin:var(--row-margin-top) 0 0 0;
}
.testing2 .offset {
    margin:var(--row-margin-top) 0 0 var(--row-offset);
}




























/* Primary color - dark */
/* .text-primary-dark {
    color: var(--color-sand-700);
} */

/* .bg-primary-dark {
    background-color: var(--color-sand-700);
} */

/* .hover\:bg-primary-dark {
    &:hover {
        @media (hover: hover) {
            background-color: var(--color-sand-700);
        }
    }
} */
